* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f8f5f2;
}
#price-heading{
    width: 100%;
    height: 40vh;
    background-color: #f8f5f2;
    font-family: "Segoe UI";
    font-size: 0.7em;

}
ul li {
    font-family: sans-serif;

}
.center{
    text-align: center;
    margin-top: 3%;
}

.large-font {
    font-size:1.2em;
    /* margin: 1% 5% 0% 5%; */
    font-family: sans-serif;

}
.medium-font {
    font-size: 0.9em;
    margin-bottom:15%;
    margin-left:1%;
    margin-top: 5%;

}
 #price-heading > h1 {
    font-size: 3.5em;
    font-size-adjust: 2em;
}


#plans-container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    gap: 2%;
    height: 280vh;
    margin-top: -5%;


}


#plans-container > div {
    background-color: white;
    padding: 2%;
    font-size: 1.5em;
    flex-basis: 20%;
    /* min-width:20%; */
    flex-wrap: wrap;
    max-height:200vh
}
#plans-container > div:nth-child(4) {
    height: fit-content;
}
#plans-container > div:nth-child(3) {
    max-height:198vh
}


#plans-container > div:nth-child(3) {
    height: 258.5vh;
}

/* top margin for plan boxes */
.plans-cont-margin {    
    margin-top:2.5%;
}


.red {
    color: #ff7332;
    font-weight: bold;
}
.margin {
    margin-bottom: 10%;
}

.line {
    width: 100%;
    height: 0.1vh;
    background-color:lightgrey;
    margin:1vh 0vh 2vh 0vh;
}
.get-started {
    font-size: 0.8em;
    padding: 5% 8% 5% 8%;
    border-radius: 5%;
    background-color: #ef523c;
    color: white;
    margin:2% 1% 10% 1%;

}

.recommended {
    border-top: 6vh solid teal;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-left: 0.2vw solid teal;
    border-right: 0.2vw solid teal;
    border-bottom: 0.2vw solid teal;
}
.recommended h3+p {
    margin-bottom: 22%;
}
#plans-container  ul {
    list-style: none;
  }

#plans-container ul > li {
      font-size: 0.8em;
      line-height: 4vh;
      padding-bottom: 2vh;
  }
#plans-container ul li:before {
    content: '✓ ';
    color: rgb(0, 139, 23);

  }



/* middle container */


#compare-cont {
    width: 60%;
    /* border: 2px solid red; */
    margin: auto;
    text-align: center;
    /* background-color: rgb(0, 139, 23); */
    height: 55vh;
    margin-top: -25%;
}

#compare-cont a {
    font-size: 1.5vw;
    color: teal;
    text-decoration: none;
    font-weight: bold;
}

#compare-cont a+h1{
    font-size: 3vw;
    margin-top: 8%;
}

#compare-cont h1+p {
    font-size: 1.5vw;
    font-weight: bold;
}
#compare-cont p+p {
    font-size: 1.4em;
    margin-top: 1vh;
}

.mid-btn {
    padding: 2% 2.5% 2% 2.5%;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 4%;
}

#extra-benefits{
    width: 100%;
    height: 100vw;
    background-color:#feefe8;
    display: grid;
}

#tax-advantaged{
    width: 100%;
    height: 80vh;
    background-color:white;
    padding-top: 5%;
    padding-bottom: 8%;
}

#tax-advantaged> div{
    width: 90%;
    margin: auto;
    gap: 10%;
    display: grid;
    /* background-color: royalblue; */
    height: 60vh;
    grid-template-columns: 40% 22% 20%;
    grid-template-areas: "one two three"
                        "one four five";
}

#tax-advantaged p+h4, #tax-advantaged p+h4+h4 {
    color: teal;
    font-size: 1.5vw;

}

#adv-2 .big-line {
    background-color:lightgrey
}
#extra-benefits> div{
    width: 90%;
    /* background-color: royalblue; */
    margin: auto;
    display:grid;
    gap: 10%;
    grid-template-columns: 40% 22% 20%;
    grid-template-areas: "a b c"
                        "a d e"
                        "h f g";
}
#extra-benefits h1 + #tax-advantaged h1{
    font-size: 2em;
}
#extra-benefits #item-4 > h4+p {
    margin-top: 40%;
}

.big-line {
    width: 230%;
    margin-top: 15%;
    height: 0.4vh;
    background-color: white;
}

#extra-benefits h1+p, #tax-advantaged h1+p {
    font-size: 1.3em;
    margin: 5% 0% 5% 0%;
}
p+h4, p+h4+h4, h4+h4{
    font-size: 1.2em;
}


#item-8 {
    /* border: 2px solid black; */
    width: 200%;
    line-height: 5vh;
    color: grey;
}


#item-1 {
    grid-area: a;
}

#item-1 h1, #tax-advantaged #adv-1 h1 {
    font-size: 2.8em;
}

#item-2 {
    grid-area: b;
}
#item-3 {
    grid-area: c;
}

#item-4 {
    grid-area: d;
}
#item-5 {
    grid-area: e;
}
#item-6 {
    grid-area: f;
}
#item-7 {
    grid-area: g;
}
#item-8 {
    grid-area: h;
}


#adv-1 {
    grid-area: one;
}
#adv-2 {
    grid-area: two;
}
#adv-3 {
    grid-area: three;
}
#adv-4 {
    grid-area: four;
    /* /* padding-bottom: 20%; */
    margin-bottom: 30%;
}
#adv-5 {
    grid-area: five;
}
#adv-6 {
    grid-area: six;
}

#bottom-container {
    width: 100%;
    height: 110vh;
    margin-top: 5%;
    /* padding-left: 3%; */
}

#faq-container {
    width: 100%;
    height: 50vh;
    background-color: white;
    padding-top: 3%;
}
#table-container {
    width: 80%;
    /* background-color:#f8f5f2; */
    height: 105vh;
    margin: auto;
}

#table-container h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 8%;
}

table th:nth-child(1) {
    width: 70vw;
}
table tr:nth-child(3) td:nth-child(1) {
    display:none;
}
.long {
    width: 60vw;
    padding: 2%;
}

.long-th {
    /* background-color: blue; */
    width: 14vw;
    padding: 2%;
}


#table-container table th {
    width: 12%;
}

.white {
    /* padding: 3%; */
    background-color: white;
    width: 150%;

}

.check-mark::before {
    content: '✓ ';
    color: rgb(0, 139, 23);
    font-size: 1.2em;
    margin-left: 12vh;
}
.btn-design {
    padding: 1% 2% 1% 2%;
    background-color: white;
    font-weight: bold;
    margin-top: 5%;
    border: 0px;
    text-align: center;
    margin-left: 42%;
    font-size: 1.1em;
}
.btn-design:hover {
    color: teal;
}
#faqs {
    width: 50%;
    height: 50vh;
    margin:2%
}
#faqs >div{
    float: left;
}

#faqs h2 {
    font-size: 3em;
    margin-bottom: 5%;
}
.big-text {
    font-size: 2em;
    
}
.neg {
    margin-top: -5%;
}
#faqs > h2+div:hover ,#faqs img+div+div:hover{
    color: teal;
    margin-left: 1vw;
}
#faqs> img {
    width: 50px;
    margin-left: 5vw;
    color: teal;
    margin-bottom: 6vh;

}
#answer1,#answer2 {
    display: none;
    font-size: 1.2em;
    margin-top: -5%;
    padding-bottom: 7%;
}

.rotate {
    transform: rotate(90deg);
}
#faqs #answer1, #faqs #answer2 {
    display: none;
    font-size: 1.5em;
    margin-bottom: 5vh;
}

.rotate {
    transform: rotate(90deg);
}
/* Media QUERY */

@media(max-width:1155px) {

    #plans-container {
        width: 45%;
        display: flex;
        margin: auto;
        justify-content: space-around;
        gap: 2%;
        flex-wrap: wrap;
        min-width: 100%;;
        height: auto;
    
    }
    
    #plans-container div {
        background-color: white;
        padding: 2%;
        font-size: 3.5vh;
        flex-basis:40%;
    }

    #plans-container div:nth-child(2), #plans-container div:nth-child(4) {
        height: max-content;
    }
    #plans-container div:nth-child(1) , #plans-container div:nth-child(3){
        height: inherit;
    }


}